header {  
    background-image: url(../multimedia/fondo2.jpg);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo . . . ."
      ". titulo titulo . ."
      ". . botonera botonera botonera";
      .logo { grid-area: logo;
              align-self: center;
              padding: 20px;
              & img {
                border-radius: 50%;
                width: 150px;
                margin-left: 50px;
            }
    }
  
      .titulo { grid-area: titulo; }
  
      .botonera { grid-area: botonera; }
      h1 {
        font-size: 80px;
        font-family: $letraUno;
        color: $celeste;
        padding: 20px;
        align-self: flex-start;
    }
    nav {
        grid-area: botonera;
        align-self: center;
        justify-self: end;
        padding: 20px;
    }
    .menu ul li {
        display: inline-block;
        text-align: center;
        margin: 10px;
        opacity: .7;
        align-content: center;
        &:hover {
            opacity: 1;
        }
        & a {
            text-decoration: none;
            text-align: center;
            margin: 10px;
            padding: 20px;
            background-color: $celeste;
            color: #f4f4f2;
            font-family: $letraDos;
            font-size: 18px;
            font-weight: 600;
            top: 0;
            &:hover {
                background-color: $azul;
                color: #f4f4f2;
                border-radius: 5px;
                position: relative;
                top: 10px;
                transition: 0.7s ease;
                border: 1px solid white;
            }
        }
    }
  }