@media all and (max-width:576px) {
    h2 {
        width: 100%;
    }
    .parrafos p {
        font-family: 'KoHo', sans-serif;
        font-size: 30px;
        width: 100%;
        margin: auto;
        padding: 50px;
    }
    header {  
        background-color: $claro;
        background-image: url(../multimedia/fondo2.jpg);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "logo logo"
          "titulo titulo"
          "botonera botonera";
          .logo { grid-area: logo;}
          .titulo { grid-area: titulo; }
          .botonera { grid-area: botonera; }
          .menu ul li {
            display: block;
            text-align: center;
            margin: 10px;
            opacity: 1;
            align-content: center;
            & a {
                padding: 0;
                color: $azul;
                background-color: transparent;
                font-family: $letraDos;
                font-size: 18px;
                font-weight: 600;
                top: 0;
                &:hover {
                    border-radius: 0;
                    border: none;
                    padding: 0;
                    background-color: transparent;
                    color: black;
                    border-radius: 5px;
                    position: relative;
                    top: 0;
                    transition: none;
                    border: none;
                }
            }
        }
        .menu {
            background-color: $claro;
        }
      }
    #quienes .animacion {
        display: inline-flex;
        @include dimensiones (100%, 100%);
        margin: auto;
        top: auto;
        left: auto;
        & .puerta1 {
            @include dimensiones (100%, 100%);
        }
        & .puerta2 {
            @include dimensiones (100%, 100%);
        }
    }
    #quienes h2 {
        padding: 50px;
        width: 100%;
        margin-top: 150px;
     } 
    #sec_uno .carousel img { 
        height: auto;
        width: 100%;
     }
     #sec_dos {  
        padding: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr 3fr 3fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
          "titulo"
          "musica"
          "cine"
          "tecno";
          & img {
            width: 100%;
        }
      }
      .cineAntiguo img {
        width: 100%;
        margin-left: 0;
    }
    .videoClub img {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .pirata {
        flex-direction: column;
        & img {
            width: 100%;
            padding: 50px;
        }
    }
    #alquiler .container {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-auto-flow: column;
        grid-template-areas:
          "tituloAlquiler tituloAlquiler tituloAlquiler"
          "uno dos tres"
          "cuatro cinco seis"
          "siete ocho nueve"
          "diez once doce"
          "trece catorce quince"
          "dieciseis diecisiete dieciocho"
          "diecinueve veinte veintiuno"
          "veintidos veintitres veinticuatro"
          "veinticinco veintiseis veintisiete"
          "veintiocho veintinueve treinta"
          "treintiuno treintidos treintitres"
          "treinticuatro treinticinco treintiseis"
          "treintisiete treintiocho treintinueve"
          "cuarenta . .";
          & img {
            width: 100%;
        }
      }
      #alquiler .tituloAlquiler h3 {
        font-size: 4rem;
        font-family: $letraUno;
        padding: 50px;
        color: $celeste;
        background-color: $gris;
        text-align: center;
    }
    #dos_tecno .container .telef {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & img {
            @include dimensiones (300px, auto);
        }
    }
    #tres_tecno iframe {
        width: 100%;
        margin-bottom: 50px;
    }
    #cuatro_tecno img {
        align-self: center;
    }
    .container_guitarristas {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(22) 1fr;
        gap: 5px 5px;
        grid-auto-flow: column;
        padding: 50px;
        grid-template-areas:
          "titulo titulo"
          "david david"
          "david_titulo david_titulo"
          "david_video david_video"
          "mollo mollo"
          "mollo_titulo mollo_titulo"
          "mollo_video mollo_video"
          "slash slash"
          "slash_titulo slash_titulo"
          "slash_video slash_video"
          "mark mark"
          "mark_titulo mark_titulo"
          "mark_video mark_video"
          "angus angus"
          "angus_titulo angus_titulo"
          "angus_video angus_video"
          "eric eric"
          "eric_titulo eric_titulo"
          "eric_video eric_video"
          "jimi jimi"
          "jimi_titulo jimi_titulo"
          "jimi_video jimi_video";
      }
    .container_guitarristas .titulo h2 {
        font-size: 40px;
    }
    .container_guitarristas h5 {
        margin-left: auto;
        margin-right: auto;
      }
      .subti {
        align-self: center;
        width: 100%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
      }
      .david, .mollo, .slash, .mark, .angus, .jimi, .eric {
        display: flex;
        align-self: center;
      }
      david_video {
        display: flex;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
      }
      .angus, .angus_titulo, .angus_video {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    
       .jimi, .jimi_titulo, .jimi_video {
        margin-top: 50px;
        margin-bottom: 50px;
      }
    
       .eric, .eric_titulo, .eric_video {
        margin-top: 50px;
        margin-bottom: 50px;
      } 
      #contacto h2 {
        width: 100%;
        margin-top: 50px;
        }
        #contacto p {
            width: 100%;
        }
        #formulario h3 {
            font-family: $letraUno;
            font-size: 55px;
            padding: 80px;
            padding-top: 32px;
        }
        #formulario form {
            width: 100%;
            background-color: $claro;
            & .campos {
                flex-direction: column;
            }
            & label {
                margin-bottom: 30px;
                width: 100%;
                font-size: 20px;
            }
            & input {
                width: 100%;
                font-size: 20px;
            }
            & .enviar button {
                border: 4px solid $blanco;
            }
        }
        #background-video {
            display: none;
          }
          textarea {
            @include dimensiones (100%, auto);
            padding: 10px;
            margin-bottom: 10px;
        }
}